body {
    background-color: #00b8a9;
    font-family: 'Lato', sans-serif;
}

.logotype {
    font-family: 'Luckiest Guy';
}


.btn-primary {
    color: #fff;
    background-color: #00b8a9;
    border-color: #00b8a9;
}