body {
  /* background-color: #f6416c; */
 }

h1 {

}

 .top-row {
    background: #f8f3d4;
    margin-left: 0px;
    margin-right: 0px;
    padding:5px

 }

.chat-area {
    background: #ffde7d;
    padding:5px
}

.card-header {
    padding: .20rem 1.25rem;
    font-size: 13px;

}

.card-header:after { content:":";}

.card-body {
   padding: .50rem 1.25rem;
}