<!-- chat/templates/chat/session.html -->
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
{% if not session.started %}
<input type="button" value="I'm ready!" id="readyButton"/><br/>
{% endif %}
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
{{player.dict|json_script:"player"}}
{{session.dict|json_script:"session"}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="{% static 'jokes/chat.js' %}"></script>
</body>
</html>