<!-- chat/templates/chat/session.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en" style="height: 100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Jokesmith</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="height: 100%" class="h-100 mh-100">

<div class="container h-100 mh-100">
    <div class="row mh-50 h-50" style="border:2px solid lightgray; padding:5px">
        <div class="col-8" id="playArea">
            <h1>Phase: {{ phase }}</h1>
            <div id="prompts" style="{% if phase == "prompts" %}{% else %}display:none{% endif %}">
                <h4>Fill out two clues!</h4>
                <p>
                    Clues should be sound like a title of a top ten list, e.g. "awkward foods to serve at a funeral" or
                    "best ways to get rid of an ex". If you really can't think of something, leave it blank.
                </p>
                <input type="text" class="form-control prompt" placeholder="Enter prompt here"/>
                <input type="text" class="form-control prompt" placeholder="Enter another prompt here"/>
                <input type="button" id="submitPrompt" class="btn btn-primary" value="Done!"/>
            </div>
            {% if phase == 'start' %}
                <input type="button" class="btn btn-primary" value="I'm ready!" id="readyButton"/><br/>
            {% elif phase == 'waiting' %}
                <h3>Sorry, we already got started. Hang out and watch for the results here!</h3>
            {% endif %}
            <div id="promptResponse" class="row" style="display: none">
                <h3 class="prompt"></h3>
                <input type="text" id="responseText" class="form-control response"
                       placeholder="Type your response here"/>
                <input type="submit" class="btn-primary" id="submitResponse"/>
            </div>
            <div id="votingContainer" class="" style="display: none">
                <h3></h3>
{#                <div class="btn-group btn-group-toggle row" data-toggle="buttons">#}
                <div class="group">
                </div>
                <div class="w-100"></div>
                <input type="button" value="Vote!" class="btn-primary" id="votingSubmit"/>
            </div>
            <div id="resultsContainer" class="" style="display: none">
                <h3></h3>
                <ul class="list-group" data-toggle="buttons">

                </ul>
                <div class="w-100"></div>
            </div>
            <div id="waiting" style="display: none">
                <h3>Waiting on other players...</h3>
            </div>
        </div>
        <div id="playerList" class="col" style="border:2px solid lightgray; padding:5px">
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">{{ player.name }}</li>
                {% for p in players %}
                    {% if p != player %}
                        <li class="list-group-item">{{ p.name }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="mh-50 h-50" style="border:2px solid lightgray; padding:5px">
        <!--chat panel-->
        <div class="overflow-auto" id="chat-log"
             style="overflow:auto;max-height: calc(100% - 47px); height:calc(100% - 47px)"></div>
        <!--messaging controls-->
        <div class="form-row">
            <div class="col">
                <input class="form-control" id="chat-message-input" type="text" placeholder="Chat here...">
            </div>
            <div class="col-auto">
                <input class="btn btn-primary" id="chat-message-submit" type="button" value="Send">
            </div>
        </div>

    </div>

</div>

<!--context js objects-->
<script id="getQuestionURL">
    "{% url 'question' player.id session.id %}"
</script>
<script id="getVotingURL">
    "{% url 'voting' player.id session.id %}"
</script>

{{ player.dict|json_script:"player" }}
{{ player.dict|json_script:"player" }}
{{ session.dict|json_script:"session" }}

<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!--My includes-->
<script src="{% static 'jokes/chat.js' %}"></script>
</body>
</html>





